@model  Model.tbl_tipo_permiso

@{
    ViewBag.Title = (Model.id_tipo_permiso > 0 ? Model.nombre : "Nuevo registro");
}

<div id="page-wrapper">
    <h2 class="page-header">
        @(Model.id_tipo_permiso > 0 ? Model.nombre : "Nuevo registro")
    </h2>

    <ol class="breadcrumb">
        <li><a href="~/admin/tipo_permiso">Tipo Permiso</a></li>
        <li class="active">@(Model.id_tipo_permiso > 0 ? Model.nombre : "Nuevo registro")</li>
    </ol>

    @using (Html.BeginForm("Guardar", "tipo_permiso", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.id_tipo_permiso)

        <div class="form-group">
            @Html.LabelFor(x => x.nombre)
            @Html.TextBoxFor(x => x.nombre, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.nombre, null, new { @class = "label label-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.detalle)
            @Html.TextBoxFor(x => x.detalle, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.detalle, null, new { @class = "label label-danger" })
        </div>

        <div class="text-right">
            <button type="submit" data-ajax="true" class="btn btn-primary">Guardar</button>
        </div>
    }
</div>
