@model  Model.tbl_tipo_prestacion
@{
    ViewBag.Title = (Model.id_tipo > 0 ? Model.prestacion : "Nuevo registro");
}

<div id="page-wrapper">
    <h2 class="page-header">
        @(Model.id_tipo > 0 ? Model.prestacion : "Nuevo registro")
    </h2>

    <ol class="breadcrumb">
        <li><a href="~/admin/tipo_prestacion">Tipo Prestaciones</a></li>
        <li class="active">@(Model.id_tipo > 0 ? Model.prestacion : "Nuevo registro")</li>
    </ol>

    @using (Html.BeginForm("Guardar", "tipo_prestacion", FormMethod.Post))
    {
        @Html.HiddenFor(x => x.id_tipo)

        <div class="form-group">
            @Html.LabelFor(x => x.prestacion)
            @Html.TextBoxFor(x => x.prestacion, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.prestacion, null, new { @class = "label label-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(x => x.detalle_prestacion)
            @Html.TextBoxFor(x => x.detalle_prestacion, new { @class = "form-control"})
            @Html.ValidationMessageFor(x => x.detalle_prestacion, null, new { @class = "label label-danger" })
        </div>

        <div class="text-right">
            <button type="submit" data-ajax="true" class="btn btn-primary">Guardar</button>
        </div>
    }
</div>

